<%- include("../partials/header") %>
    <h3>
        <%= skill.skill %>
    </h3>
    <h5>
        <%= skill.desc %>
    </h5>

    <form action="/skills/<%= skill.id %>/edit"">
        <button type=" submit">Edit Skill</button>
    </form>

    <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Skill</button>
    </form>

    <%- include("../partials/footer") %>